.p-red{
    background-color: #FFADAD;
}
.p-orange{
    background-color: #FFD6A5;
}
.p-yellow{
    background-color: #FDFFB6;
}
.p-green{
    background-color: #CAFFBF;
}
.p-sky-blue{
    background-color: #9BF6FF;
}
.p-blue{
    background-color: #A0C4FF;
}
.p-purple{
    background-color: #BDB2FF;
}
.p-pink{
    background-color: #FFC6FF;
}
.p-white{
    background-color: #FFFFFC;
}
